<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>Book-store-sep-11</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
  <servlet-name>x</servlet-name>
  <servlet-class>com.ssi.VerifyUser</servlet-class>
  <init-param>
  <param-name>UserAdmin</param-name>
  <param-value>admin</param-value>
  </init-param>
  <init-param>
  <param-name>AdminPass</param-name>
  <param-value>admin</param-value>
  </init-param>
  </servlet>
  <servlet-mapping>
  <servlet-name>x</servlet-name>
  <url-pattern>/VerifyUser</url-pattern>
  </servlet-mapping>
  
  <context-param>
  <param-name>drivername</param-name>
  <param-value>oracle.jdbc.driver.OracleDriver</param-value>
  </context-param>
  <context-param>
  <param-name>url</param-name>
  <param-value>jdbc:oracle:thin:@localhost:1521:xe</param-value>
  </context-param>
  <context-param>
  <param-name>username</param-name>
  <param-value>abc123</param-value>
  </context-param>
  <context-param>
  <param-name>pass</param-name>
  <param-value>abc123</param-value>
  </context-param>
</web-app>